<%= form_for @cat_rental_request, url: cat_rental_requests_path do |f| %>


<%= f.label :cat_id %>
<%= f.select :cat_id, options_for_select(
  Cat.all.map { |cat| ["#{cat.name}, born: #{cat.birth_date} (id: #{cat.id})", cat.id]}, :cat_id
) %>



<label for="begin_date">Begin Date</label>
<input type="date" name="cat_rental_request[begin_date]" id="begin_date">

<label for="end_date">End Date</label>
<input type="date" name="cat_rental_request[end_date]" id="end_date">


<%= f.submit "Continue" %>
<% end %>
